@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lato";
    font-style: normal;
    line-height: normal;
}

.header {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
    position: relative;
}

.header__left {
    display: flex;
    gap: 41px;
    align-items: baseline;
}
.header__right {
    display: flex;
    gap: 25px;
    align-items: center;
}
.header__button {
    background: none;
    border: none;
}
.top {
    background-color: #F1E4E6;
    display: grid;
    grid-template-columns: 50% 50%;
}
.top__img {
    width: 100%;
}
.top__brandname {
    display: flex;
    align-items: center;
}
.top__brandname__text {
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
    text-align: start;
    margin-bottom: 90px;
}
.thebrand {
    color: #222;
    font-size: 48px;
    font-weight: 900;
}
.ofluxe {
    color: #222;
    font-size: 32px;
    font-weight: 700;
}
.fashion {
    color: #F16D7F;
    font-size: 32px;
    font-weight: 700;
}
.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}
.whatsnew__item4 {
    grid-row: 2;
    grid-column: span 3;
}
.whatsnew__item__image {
    width: 100%;
    z-index: -1;
}
.whatsnew__item1,
.whatsnew__item2,
.whatsnew__item3,
.whatsnew__item4 {
    position: relative;
    background: rgba(33, 22, 22, 0.70);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.whatsnew {
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 260px 180px;
    gap: 30px;
}
.whatsnew__item__text {
    position: absolute;
    text-align: center;
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}
.whatsnew_text_upperline {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}
.featured__img_add {
    display: flex;
    position: relative;
}
.featured__img {
    width: 100%;  
}
.add_to_cart {
    display: none;
}
.addtocart_button {
    width: 139px;
    height: 44px;
    background: none;
    border-color: #ffffff;
    border-style: groove;
    border-width: 1px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    gap: 11px;
}
.featured__text {
    text-align: center;
    padding-bottom: 48px;
}
.featured__text__heading {
    color: #222;
    font-size: 30px;
    font-weight: 400;
}
.featured__text__paragraph {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
}
.featured__table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}
.featured__table__item {
    background: #F8F8F8;
}
.featured__text_price {
    padding: 24px 16px;
}
.featured__table__item__text {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
}
.featured__table__item__heading {
    color: #000;
    font-size: 13px;
    font-weight: 400;   
}
.featured__table__item__price {
    color: #F16D7F; 
    font-size: 16px;
    font-weight: 400;
}
.featured__button {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 95px;
}
.featured__button__b {
    width: 212px;
    height: 48px;
    background: none;
    border-color: #FF6A6A;
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
}
.benefits {
    background-color: #222224;
    padding-top: 104px;
    padding-bottom: 104px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
    gap: 30px;
}
.benefits__item {
    padding: 0px 15px;
}
.benefits_item_img {
    padding-bottom: 25px;
}
.benefits_item_header {
    padding-bottom: 16px;
    color: #FBFBFB;
    font-size: 19.96px;
    font-weight: 400;
}
.benefits_item_text {
    color: #FBFBFB;
    font-size: 13.972px;
    font-weight: 300;
}
.feedback {
    background-image: linear-gradient(to right, rgba(244, 244, 244, 0.70), rgba(244, 244, 244, 0.70)), url("img/footer_layer.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    padding-top: 97px;
    padding-bottom: 156px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.feedback_quote_img {
    padding-bottom: 30px;
}
.feedback_quote_text {
    color: #222224;
    font-size: 20px;
    font-weight: 400;
}
.italic {
    font-style: italic;
}
.feedback_subscribe {
    padding-top: 53px;
}
.feedback_subscribe_text {
    color: #222224;
    font-size: 18px;
    font-weight: 400;
    line-height: 167.2%;
}
.subscribe_bold {
    font-size: 24px;
    font-weight: 700;
}
.feedback_subscribe_i_b {
    padding-top: 32px;
    display: flex;
    justify-content: center;
}
.feedback_subscribe_input {
    width: 256px;
    height: 49px;
    border: none;
    background-color: #E1E1E1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 22px;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
}
.feedback_subscribe_button {
    width: 100px;
    height: 49px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F16D7F;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
}
.footer {
    background-color: #222224;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.footer_left {
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
}
.footer_right {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 7px;
}
.footer_icon {
    height: 32px;
    width: 32px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header__button:hover path {
    fill: #F16D7F;
    transition: fill 0.5s ease;
}
.header__button:nth-child(3) {
    position: relative;
}
.counter:after {
    content: '5';
    background-color: #F16D7F;
    width: 19px;
    height: 19px;
    color: white;
    top: -5px;
    right: -5px;
    position: absolute;
    border-radius: 8px;
    text-align: center;
}
.featured__button__b:hover {
    background-color: #F16D7F;
    border-color: #FF6A6A;
    color: white;
    transition: all 0.5s ease;
}
.featured__table__item:hover .add_to_cart {
    position: absolute;
    background-color: rgba(58, 56, 56, 0.86);
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_icon:hover {
    background-color: #F16D7F;
    transition: all 0.5s ease;
}
.footer_icon:hover path{
    fill: #ffffff;
    transition: fill 0.5s ease;
}
.side_menu {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    position: absolute;
    text-align: center;
    top: 77px;
    right: 0px;
    padding: 32px;
    text-align: start;
    box-shadow: 8px -6px 20px 0px black;
    z-index: 1;
}
.side_menu h2 {
    margin-bottom: 24px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}
ul {
    list-style-type: none;
}
.side_menu h3 {
    margin-bottom: 12px;
    color: #F16D7F;
    font-size: 14px;
    font-weight: 400;
}
.side_menu h4 {
    margin-bottom: 11px;
    margin-left: 23.5px;
    color: #6F6E6E;
    font-size: 14px;
    font-weight: 400;
}


summary {
    list-style-type: none; 
}
  
summary::-webkit-details-marker {
    display: none; 
}
details summary::before {
    content: '';
    padding-top: 15px;
}

details[open] summary path {
    fill: #F16D7F;
}

@media(min-width: 768px) and (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 367px);
        padding-right: calc(50% - 367px);
    }
    .header {
        padding: 18px 30px;
    }
    .top__brandname {
        margin-left: 39px;
    }
    .top__brandname__text {
        padding-left: 16px;
        margin-bottom: 20px;
    }
    .thebrand {
        font-size: 44px;
    }
    .ofluxe {
        font-size: 24px;
    }
    .fashion {
        font-size: 24px;
    }
    .whatsnew {
        padding-top: 65px;
        padding-bottom: 96px;
        display: grid;
        grid-template-columns: 232px 232px 232px;
        grid-template-rows: 167px 116px;
        gap: 19.4px;
    }
    .featured__table {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
    }
    .featured__text {
        padding-bottom: 48px;
    }
    .benefits {
        padding-top: 48px;
        padding-bottom: 64px;
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px); 
        flex-wrap: wrap;
        gap: 48px;
    }
    .feedback {
        padding-top: 64px;
        padding-bottom: 140px;
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px); 
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media(min-width: 320px) and (max-width: 767px) {
    .center {
        padding-left: calc(50% - 171px);
        padding-right: calc(50% - 171px); 
    }
    .top {
        display: flex;
        justify-content: center;
    }
    .hide {
        display: none;
    }
    .top__brandname {
        margin: 148px 56px;
    }
    .top__brandname__text{
        margin-bottom: 0;
    }
    .thebrand {
        font-size: 38px;
    }
    .ofluxe {
        font-size: 20px;
    }
    .fashion {
        font-size: 20px;
    }
    .whatsnew {
        padding-top: 64px;
        padding-bottom: 64px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }
    .whatsnew__item4 .whatsnew__item__image {
        object-fit: cover;
        height: 111px;
    }
    .featured__table {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
    }
    .featured__text {
        padding-bottom: 65px;
    }
    .featured__button {
        padding-top: 40px;
        padding-bottom: 85px;
    }
    .benefits {
        padding-top: 48px;
        padding-bottom: 81px;
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px); 
        flex-wrap: wrap;
        gap: 48px;
    }
    .feedback {
        padding-top: 64px;
        padding-bottom: 110px;
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px); 
        flex-wrap: wrap;
        justify-content: center;
    }
    .feedback_quote_text {
        font-size: 18px;
    }
    .feedback_subscribe_i_b {
        padding-top: 22px;
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        padding-top: 43px;
        padding-bottom: 9px;
    }
    .footer_right {
        order: -1;
    }
}
