@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  border-bottom: 1px solid #ececec;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 5;
}

.header__left a {
  text-decoration: none;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
}
.header__left__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__left__logo__img {
  width: 59px;
  height: 50px;
}
.header__left__logo__text {
  color: #222222;
  font-size: 27px;
  font-weight: 300;
}
.header__left__logo__text__D {
  color: #f16d7f;
  font-size: 27px;
  font-weight: 900;
}
.header__left__browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.header__left__details__summary {
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  padding: 13px 15px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #e6e6e6;
  background-color: #f5f5f5;
  list-style-type: none;
}
.header__left__details__summary::after {
  content: " ▼";
  font-family: "Font Awesome";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #838383;
}
.header__left__details__summary::marker {
  display: none;
}
.header__left__details__side_menu {
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  text-align: start;
  top: 65px;
  right: inherit;
  width: 262px;
  padding: 3px 13px;
  text-align: start;
  z-index: 6;
}
.header__left__details__side_menu::before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 20px solid white;
  position: absolute;
  top: -26px;
  left: 51px;
}
.header__left__details__side_menu ul {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header__left__details__side_menu h3 {
  padding-bottom: 9px;
  color: #232323;
  font-size: 14px;
  font-weight: 400;
}
.header__left__details__side_menu hr {
  border-bottom: #e8e8e8;
}
.header__left__details__side_menu h4 {
  margin-bottom: 11px;
  margin-left: 5px;
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 400;
}
.header__left__details[open] summary::after {
  content: " ▲";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #838383;
}
.header__left__input {
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  padding: 10px;
  width: 10vw;
}
.header__left__button {
  padding: 12px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.header__right__details {
  display: block;
}
.header__right__details:hover .header__right__details__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__right__details__button {
  background: none;
  border: none;
}
.header__right__details__cart {
  display: none;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 75px;
  padding: 4px 16px 16px 16px;
  z-index: 7;
}
.header__right__details__cart__thing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  padding-bottom: 17px;
  padding-top: 17px;
  border-bottom: 1px solid #e6e6e6;
}
.header__right__details__cart__thing__img {
  width: 100%;
}
.header__right__details__cart__thing__props__header {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
}
.header__right__details__cart__thing__props__rating {
  padding: 8px 57px 8px 0px;
}
.header__right__details__cart__thing__props__price {
  color: #f16d7f;
  font-size: 12px;
  font-weight: 400;
}
.header__right__details__cart__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 20px;
  padding-bottom: 31px;
}
.header__right__details__cart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.header__right__details__cart__buttons a {
  text-decoration: none;
  text-align: center;
  background: none;
  border: 2px solid #eaeaea;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  padding-top: 17px;
  padding-bottom: 17px;
}

.header__right__account {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  padding: 11px 19px;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
}
.header__right__account:hover {
  background-color: white;
  color: #f16d7f;
}

.cart_body {
  padding-top: 91px;
  padding-bottom: 79px;
}

.cart-row-item {
  display: grid;
  grid-template-columns: 5.5fr 2.5fr 1.5fr 2fr 1.5fr 1fr;
  gap: 20px;
  padding-top: 23px;
  padding-bottom: 23px;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}
.cart-row-item h2 {
  font-size: 13px;
  font-weight: 700;
  color: #222222;
}
.cart-row-item__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
  text-align: start;
}
.cart-row-item__product:hover .cart-rating {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.cart-row-item__product__info {
  padding-top: 10px;
}
.cart-row-item__product__info a {
  text-decoration: none;
}
.cart-row-item__product__info h3 {
  font-size: 13px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.cart-row-item__product__info img {
  opacity: 0;
  margin-bottom: 10px;
}
.cart-row-item__product__info h4 {
  font-size: 13px;
  font-weight: 300;
  color: #6f6e6e;
}
.cart-row-item__price, .cart-row-item__quantity, .cart-row-item__shipping, .cart-row-item__subtotal, .cart-row-item__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.quant-input {
  padding: 7px 4px 7px 20px;
  border: 1px solid #eaeaea;
  width: 29px;
  height: 16px;
  font-size: 13px;
  color: #6f6e6e;
  border-radius: 0;
}

.cart-bold {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #4a4a4a;
}

.cart-buttons {
  padding-top: 69px;
  padding-bottom: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-button {
  text-decoration: none;
  padding: 17px;
  text-align: center;
  border: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: 700;
  color: #4a4a4a;
}

.cart-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 35px;
}

.cart-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.cart-form .cart-button {
  padding: 8px 15px;
  width: 100px;
}
.cart-form h4 {
  font-size: 14px;
  font-weight: 300;
  color: #222222;
}

.cart-button.coup {
  width: 118px;
}

.form-header {
  font-size: 16px;
  font-weight: 700;
  color: #222222;
}

.cart-input {
  width: 317px;
  height: 45px;
  border: 1px solid #eaeaea;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
  padding: 0px 18px;
}

.total-container {
  padding-bottom: 54px;
}

.cart-total {
  padding: 40px;
  background-color: #f5f3f3;
  text-align: end;
  text-wrap: nowrap;
}
.cart-total h4 {
  font-size: 11px;
  font-weight: 400;
  color: #4a4a4a;
  padding-bottom: 10px;
}
.cart-total h3 {
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  padding-bottom: 18px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 16px;
}
.cart-total .pink {
  color: #f16d7f;
}
.cart-total .total_proceed {
  display: block;
  width: 271px;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #f16d7f;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 1px solid #f16d7f;
}

.cat_body {
  padding-top: 59px;
  padding-bottom: 110px;
}

.cat_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.dropdown_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}

.dd-menu-detail {
  width: 243px;
}
.dd-menu-detail summary {
  display: block;
  padding: 10px 6px 10px 11px;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #ebebeb;
}
.dd-menu-detail summary::marker {
  display: none;
}
.dd-menu-detail[open] .summ__triangle {
  border: 5px solid transparent;
  border-bottom: 5px solid #f16d7f;
}
.dd-menu-detail[open] h2 {
  color: #f16d7f;
}
.dd-menu-detail__summ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dd-menu-detail__summ h2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #6f6e6e;
}
.dd-menu-detail__summ:hover h2 {
  color: #f16d7f;
}
.dd-menu-detail__list {
  padding: 12px 12px 23px;
}
.dd-menu-detail__list ul {
  list-style: none;
}
.dd-menu-detail__list__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 33px;
  font-weight: 400;
  color: #6f6e6e;
}

.summ__triangle {
  content: "";
  border: 5px solid transparent;
  border-top: 5px solid #f16d7f;
}

.cat_top_filters {
  padding-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.cat_top_filter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 263px;
}
.cat_top_filter__header {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #6f6e6e;
  margin-bottom: 25px;
}
.cat_top_filter__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.cat_top_filter__options a {
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}
.cat_top_filter__options h3 {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}
.cat_top_filter__options label {
  margin-left: 9px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #6f6e6e;
}
.cat_top_filter__options__price {
  padding-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cat_top_filter__options__price h3 {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}

#options__cb {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 13px;
  height: 13px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}

#options__cb:checked {
  background-color: #f16d7f;
}

#price__range1 {
  margin-top: 8px;
  position: relative;
  -webkit-appearance: none;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  width: 131px;
  height: 7px;
  background: #f16d7f;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#price__range1::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #f16d7f;
}

#price__range2 {
  margin-top: 8px;
  position: absolute;
  -webkit-appearance: none;
  left: 130px;
  width: 131px;
  height: 7px;
  background: #f16d7f;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#price__range2::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #f16d7f;
}

.cat_bottom_filters {
  margin-top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  background-color: #f3f3f3;
  padding: 10px;
}

.cat_bottom_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  border: 1px solid #ebebeb;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 10px;
  background-color: white;
}
.filter_label h3 {
  font-size: 14px;
  font-weight: 400;
  color: #6f6e6e;
}

.filter-input {
  width: 64px;
  height: 33px;
  padding-left: 11px;
  padding-right: 9px;
  border: 1px solid #ebebeb;
  border-radius: 0;
  color: #6f6e6e;
  font-size: 14px;
}

.num {
  width: 44px;
}

.grid {
  padding-top: 2px;
  gap: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

.cat_products__img_add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.cat_products__img {
  width: auto;
}

.cat_products__text {
  text-align: center;
  padding-bottom: 58px;
}

.cat_products__text__heading {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
}

.cat_products__text__paragraph {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
}

.cat_products__table {
  padding-top: 48px;
  padding-bottom: 43px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
.cat_products__table__item__heading {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 18px;
}
.cat_products__table__item__price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
}

.cat_products__text_price {
  padding: 19px 16px;
}

.cat_products__table__item {
  margin-bottom: 8px;
}

.cat_products__table__item:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-box-shadow 0.2s ease-out;
  transition: -webkit-box-shadow 0.2s ease-out;
  transition: box-shadow 0.2s ease-out;
  transition: box-shadow 0.2s ease-out, -webkit-box-shadow 0.2s ease-out;
}

.cat_products__table__item:hover .add_to_cart {
  position: absolute;
  padding: 0 60px;
  gap: 10px;
  background: none;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  pointer-events: all;
}

.cat_products__table__item:hover .cat_products__img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  -webkit-transition: -webkit-filter 0.5s ease-in-out;
  transition: -webkit-filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out;
}

.cat_body_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cat_body_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  gap: 16px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}
.cat_body_pages p {
  color: #c4c4c4;
}

.page_num_link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #c4c4c4;
}
.page_num_link path {
  fill: #c4c4c4;
}

.cat_body_view {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  width: 128px;
  height: 22px;
}

.cat.benefits {
  background-color: #222222;
  padding-top: 89px;
  padding-bottom: 114px;
}

.cat.benefits .benefits__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  gap: 0;
}

.cat.benefits .benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.checkout_body {
  padding-top: 59px;
  padding-bottom: 93px;
}

.checkout-summ {
  padding-top: 30px;
  padding-bottom: 30px;
  list-style-type: none;
  font-size: 16px;
  color: #222222;
  font-weight: 700;
  border-bottom: 1px solid #eaeaea;
}
.checkout-summ::marker {
  display: none;
}

.checkout-details[open] .checkout-summ {
  border: none;
  padding-bottom: 0;
}

.checkout-dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 23px 0 80px 24px;
}

.checkout-dd-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.checkout-dd-cont-header {
  font-size: 13px;
  color: #222222;
  margin-bottom: 15px;
  margin-top: 16px;
}

.grey-text {
  font-size: 13px;
  color: #b3b2b2;
  margin-bottom: 32px;
}

.lable-header {
  font-size: 12px;
  color: #222222;
  font-weight: 400;
  margin-bottom: 16px;
}

.dd-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout-dd-left-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}
.checkout-dd-left-inputs input {
  margin-bottom: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #222222;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  padding: 2px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.checkout-dd-left-inputs input:checked {
  background: #222222 content-box;
}

.grey-text.arrow {
  margin-bottom: 15px;
}

.continue-button {
  margin-top: 38px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 19px 53px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #4a4a4a;
  border: 1px solid #eaeaea;
}

.checkout-dd i {
  font-size: 13px;
  color: #b3b2b2;
}

#email-input,
#psw-input {
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
  margin-bottom: 22px;
}

.required {
  color: #ff0d0d;
  font-size: 13px;
}
.required.big {
  font-size: 17px;
}

.auth-buttons {
  padding-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 32px;
}
.auth-buttons input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 19px 53px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #4a4a4a;
  background-color: white;
  border: 1px solid #eaeaea;
}
.auth-buttons a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
}

.feedback {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(244, 244, 244, 0.7)), to(rgba(244, 244, 244, 0.7))), url("img/footer_layer.png");
  background-image: linear-gradient(to right, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url("img/footer_layer.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-top: 111px;
  padding-bottom: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback_quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.feedback_quote_img {
  padding-bottom: 30px;
}

.feedback_quote_descript {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feeback_quote_text {
  font-size: 16px;
  color: #222222;
  font-weight: 400;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 19px;
}

.italic {
  font-style: italic;
}

.feedback_quote_name {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.feedback_quote_position {
  font-size: 12px;
  font-weight: 300;
  color: #222222;
  margin-bottom: 41px;
}

.feedback_sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}

#feedback_slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  border: none;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
#feedback_slider:checked {
  background-color: #f16d7f;
}
#feedback_slider:hover {
  background-color: #f16d7f;
}

.feedback_subscribe {
  padding-top: 37px;
}

.feedback_subscribe_text {
  text-align: center;
  color: #222224;
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
}

.subscribe_bold {
  font-size: 24px;
  font-weight: 700;
}

.feedback_subscribe_i_b {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback_subscribe_input {
  width: 256px;
  height: 49px;
  border: none;
  background-color: #e1e1e1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 22px;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
}

.feedback_subscribe_button {
  width: 100px;
  height: 49px;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f16d7f;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.footer {
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer_left p {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
}

.footer_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 7px;
}

.footer_icon {
  height: 32px;
  width: 32px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_icon path {
  fill: #b2b2b2;
}

.inactive {
  pointer-events: none;
}
.inactive div {
  opacity: 0.3;
}

.navigation {
  background-color: white;
  top: 101px;
  right: 0;
  z-index: 3;
  border-bottom: 1px solid #ececec;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-link {
  text-decoration: none;
  display: block;
  padding: 20px 25px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.mega-box {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 6px 20px 20px 20px;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 4;
}

.mega-box::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  position: absolute;
  top: -9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 30px;
  background-color: #fff;
}

.mega-link {
  display: block;
  font-family: Lato;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #646464;
  text-decoration: none;
}

.mega-title {
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  color: #232323;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 16px;
  margin-top: 15px;
  width: 235px;
}

.mega-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-list {
  position: relative;
}

.menu-list:hover .mega-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 46px;
}

.menu-list.cat {
  border-bottom: 3px solid white;
}

.menu-list.cat:hover {
  border-bottom: 3px solid #f16d7f;
}

.last:hover .mega-box {
  right: 0;
  left: auto;
}

.last:hover .mega-box::before {
  right: 50px;
  left: auto;
}

.mega-item-img {
  position: relative;
}

.super-sale {
  right: 12px;
  position: absolute;
  z-index: 2;
  bottom: 12px;
  color: white;
  font-size: 22px;
  line-height: 28px;
  font-weight: 900;
}

.page-info {
  padding-top: 109px;
  padding-bottom: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand-info a {
  text-decoration: none;
}
.brand-info__logo {
  padding-bottom: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.brand-info__logo__img {
  width: 59px;
  height: 50px;
}
.brand-info__logo__text {
  padding-top: 10px;
  overflow: auto;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
}
.brand-info__logo__text__D {
  color: #f16d7f;
  font-size: 27px;
  font-weight: 900;
}
.brand-info__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #6f6e6e;
  margin-bottom: 38px;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
}

.info-category {
  width: 200px;
  text-wrap: nowrap;
}
.info-category__header {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-top: 14px;
  margin-bottom: 33px;
}
.info-category ul {
  list-style: none;
}
.info-category a {
  text-decoration: none;
  text-wrap: nowrap;
  font-size: 16px;
  line-height: 44px;
  font-weight: 400;
  color: #6f6e6e;
}

.prod-slider {
  padding-top: 11px;
  padding-bottom: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  background-color: #f7f7f7;
}

.slide-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  padding: 12px;
  background-color: rgba(42, 42, 42, 0.14);
}
.slide-arrow:hover path {
  fill: #f16d7f;
}

.prod-info-container {
  padding: 73px 250px 122px 250px;
  text-align: center;
  border: 1px solid #eaeaea;
  -webkit-transform: translateY(-86px);
          transform: translateY(-86px);
  background-color: white;
}

.prod-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 18px;
}
.prod-category h3 {
  font-size: 14px;
  color: #f16d7f;
  padding-bottom: 12px;
  border-bottom: 1px solid #eaeaea;
}
.prod-category h3::before {
  content: "";
  background-color: #f16d7f;
  width: 63px;
  height: 3px;
  position: relative;
  top: 31px;
  left: 42px;
  display: block;
}

.prod-name {
  font-size: 18px;
  color: #222222;
  margin-bottom: 67px;
}

.prod-descr {
  font-size: 14px;
  color: #5e5e5e;
  margin-bottom: 28px;
}

.prod-caracteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 44px;
  margin-bottom: 37px;
}

.prod-carac {
  font-size: 14px;
  color: #222222;
}

.prod-carac-name {
  color: #b9b9b9;
}

.prod-price-cont {
  padding-bottom: 43px;
  margin-bottom: 63px;
  border-bottom: 1px solid #eaeaea;
}

.prod-price {
  font-size: 24px;
  color: #f16d7f;
}

.prod-info-bottom {
  padding: 0 52px;
}

.prod-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 28px;
}

.prod-filter-header {
  text-align: start;
  font-size: 14px;
  color: #222222;
  margin-top: 10px;
  margin-bottom: 14px;
}

.prod-filter {
  width: 116px;
  padding: 12px;
  border: 1px solid #eaeaea;
  border-radius: 0;
  font-size: 13px;
  color: #bcbcbc;
}

.addtocart_button.prod {
  padding: 12px;
  font-size: 16px;
  text-decoration: none;
  background-color: #f16d7f;
}

.prod-also > h1 {
  font-size: 24px;
  color: #222222;
  text-align: center;
  margin-bottom: 72px;
}

.prod-also-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-bottom: 73px;
}

.price-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.price-rating > img {
  visibility: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.featured__table__item.prod .featured__text_price {
  padding: 18px 14px 20px 14px;
}
.featured__table__item.prod .featured__table__item__heading {
  font-size: 14px;
  color: #6f6e6e;
}

.new_arrivals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f8f3f4;
  padding-top: 65px;
  padding-bottom: 65px;
}

.na_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.na_header h2 {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  color: #f16d7f;
}

.na_path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.na_path a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #636363;
}
.na_path a:last-child {
  font-weight: 700;
  color: #f16d7f;
}
.na_path a:not(:last-child)::after {
  content: " / ";
}

@supports not (display: flex) {
  .top {
    text-align: justify;
  }
  .top:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
  .top__photo {
    display: inline-block;
  }
  .top__brandname {
    display: inline-block;
  }
  .whatsnew__item1,
  .whatsnew__item2,
  .whatsnew__item3,
  .whatsnew__item4 {
    display: inline-block;
  }
  .whatsnew {
    display: inline-block;
  }
  .whatsnew__item1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .featured__img_add {
    text-align: center;
  }
  .featured__img_add > div {
    display: inline-block;
    vertical-align: middle;
  }
  .featured__table {
    display: table;
  }
  .featured__table__item {
    display: table-cell;
  }
  .benefits__content {
    text-align: justify;
  }
  .benefits__content > div {
    display: inline-block;
  }
  .benefits__img {
    text-align: justify;
  }
  .benefits__img > div {
    display: inline-block;
  }
  .benefits__text {
    display: block;
  }
  .benefits__item {
    text-align: justify;
  }
  .benefits__item > div {
    display: inline-block;
  }
  .cat_content {
    text-align: justify;
  }
  .cat_content > div {
    display: inline-block;
  }
  .dropdown_menu {
    text-align: justify;
  }
  .dropdown_menu > div {
    display: inline-block;
  }
  .dd-menu-detail__summ {
    text-align: justify;
  }
  .dd-menu-detail__summ > div {
    display: inline-block;
  }
  .cat_top_filter > div {
    display: block;
  }
  .filter_label {
    display: inline-block;
  }
  .grid {
    display: table;
  }
  .grid > div {
    display: table-cell;
  }
  .cat_products__img_add {
    text-align: center;
  }
  .cat_products__img_add > div {
    display: inline-block;
    vertical-align: middle;
  }
  .cat_products__table {
    display: table;
  }
  .cat_products__table > div {
    display: table-cell;
  }
  .cat_body_buttons {
    text-align: center;
  }
  .cat_body_buttons > div {
    display: inline-block;
    vertical-align: middle;
  }
  .cat.benefits .benefits__text {
    text-align: justify;
  }
  .cat.benefits .benefits__text > div {
    display: inline-block;
  }
  .cat.benefits .benefits__item {
    text-align: center;
    vertical-align: middle;
  }
  .cat.benefits .benefits__item > figure,
  .cat.benefits .benefits__item div {
    display: block;
  }
  .cart-row-item {
    text-align: center;
  }
  .cart-row-item > div {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart-buttons {
    text-align: justify;
  }
  .cart-buttons > a {
    display: inline-block;
  }
  .checkout-dd-cont {
    text-align: center;
  }
  .checkout-dd-cont > div {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@supports not (display: grid) {
  .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .whatsnew {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .whatsnew__item__image {
    width: auto;
    height: auto;
  }
  .whatsnew__item1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .featured__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cat_products__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cart-row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cart-row-item:first-child {
    -webkit-box-flex: 5.5;
        -ms-flex-positive: 5.5;
            flex-grow: 5.5;
  }
  .cart-row-item:nth-child(2) {
    -webkit-box-flex: 2.5;
        -ms-flex-positive: 2.5;
            flex-grow: 2.5;
  }
  .cart-row-item:nth-child(3) {
    -webkit-box-flex: 1.5;
        -ms-flex-positive: 1.5;
            flex-grow: 1.5;
  }
  .cart-row-item:nth-child(4) {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .cart-row-item:nth-child(5) {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .cart-forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  font-style: normal;
  line-height: normal;
  color: #222222;
  outline: none;
  scroll-behavior: smooth;
}

.hover-fill:hover {
  border-color: #f16d7f;
  color: white;
  background: #f16d7f;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.hover-fill:hover path {
  fill: white;
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
}

.hover-unfill:hover {
  border-color: #f16d7f;
  color: #f16d7f;
  background: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.hover-unfill:hover path {
  fill: #f16d7f;
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
}

.hover-link:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #f16d7f;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top {
  background-color: #e8e8e8;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
.top__photo__img {
  width: 100%;
  height: 100%;
}
.top__brandname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 220px;
}
.top__brandname__text {
  padding-left: 16px;
  border-left: 12px solid #f16d7f;
  text-align: start;
}

.thebrand {
  color: #222222;
  font-size: 48px;
  font-weight: 900;
}

.ofluxe {
  color: #222222;
  font-size: 32px;
  font-weight: 700;
}

.fashion {
  color: #f16d7f;
  font-size: 32px;
  font-weight: 700;
}

.whatsnew__item1,
.whatsnew__item2,
.whatsnew__item3,
.whatsnew__item4 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.whatsnew {
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 261px);
  gap: 20px;
}
.whatsnew__item__text {
  position: absolute;
  z-index: 1;
  top: 0;
  background-color: #fff;
  margin-top: 26px;
  padding: 18px 15px;
  text-align: start;
}
.whatsnew__item__text__upperline {
  color: #222222;
  font-size: 18px;
  font-weight: 900;
}
.whatsnew__item__text__lowerline {
  color: #f16d7f;
  font-size: 30px;
  font-weight: 900;
}
.whatsnew__item__image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
.whatsnew article:hover .whatsnew__item__image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
  -webkit-box-shadow: 0 0 30px white;
          box-shadow: 0 0 30px white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.whatsnew article:hover .whatsnew__item__text {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.whatsnew__item4 {
  grid-row: 3;
  grid-column: 1;
}

.whatsnew__item1 {
  grid-row: 1;
  grid-column: 2;
}

.whatsnew__item2 {
  grid-row: span 2;
  grid-column: 1;
}

.whatsnew__item3 {
  grid-row: span 2;
  grid-column: 2;
}

.featured__img_add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.featured__img {
  width: auto;
}

.add_to_cart {
  display: none;
}

.add_to_cart a {
  text-decoration: none;
}

.addtocart_button {
  height: 24px;
  padding: 8px 12px;
  background: none;
  border: 1px groove white;
  border-radius: 3px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 400;
  gap: 11px;
}
.addtocart_button__1 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.addtocart_button__2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.addtocart_button__3 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.featured__text {
  text-align: center;
  padding-bottom: 58px;
}

.featured__text__heading {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
}

.featured__text__paragraph {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
}

.featured__table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.featured__table__item__text {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
  font-weight: 300;
}
.featured__table__item__heading {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 18px;
}
.featured__table__item__price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
}

.featured__text_price {
  padding: 24px 16px;
}

.featured__table__item:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-box-shadow 0.2s ease-out;
  transition: -webkit-box-shadow 0.2s ease-out;
  transition: box-shadow 0.2s ease-out;
  transition: box-shadow 0.2s ease-out, -webkit-box-shadow 0.2s ease-out;
}
.featured__table__item:hover .price-rating img {
  visibility: visible;
}

.featured__table__item:hover .add_to_cart {
  position: absolute;
  background: none;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: all;
}

.featured__table__item:hover .featured__img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  -webkit-transition: -webkit-filter 0.5s ease-in-out;
  transition: -webkit-filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out;
}

.featured__button__b::after {
  content: "  ➞";
  font-size: 17px;
  padding-left: 5px;
}

.featured__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 48px;
  padding-bottom: 113px;
}

.featured__button__b {
  text-decoration: none;
  text-align: justify;
  padding: 18px 24px;
  background: none;
  border: 2px solid #ff6a6a;
  color: #f26376;
  font-size: 16px;
  font-weight: 400;
}

.benefits {
  padding-top: 113px;
  padding-bottom: 97px;
}

.benefits__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.benefits__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-image: url("./img/shadow.png");
}

.benefits__woman {
  position: relative;
  z-index: -1;
  width: auto;
  height: 100%;
}

.benefits__head {
  position: absolute;
  z-index: 2;
  margin-top: 145px;
  margin-left: 40px;
  font-weight: 700;
}
.benefits__head__30 {
  font-size: 53px;
  color: white;
}
.benefits__head__offer {
  color: #f16d7f;
  font-size: 53px;
}
.benefits__head__women {
  font-size: 32px;
  color: white;
}

.benefits__img:hover {
  background: none;
  -webkit-transition: background 0.7s ease-in-out;
  transition: background 0.7s ease-in-out;
}

.benefits__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  background-color: #222222;
  padding: 48px 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.benefits__item__descript__header {
  padding-top: 5px;
  padding-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.benefits__item__descript__text {
  font-size: 14px;
  font-weight: 400;
  color: white;
  line-height: 24px;
}

@media (min-width: 768px) and (max-width: 1172px) {
  .center {
    padding-left: calc(50% - 367px);
    padding-right: calc(50% - 367px);
  }
  .header {
    padding: 18px 30px;
  }
  .top__brandname {
    margin-left: 39px;
  }
  .top__brandname__text {
    padding-left: 16px;
    margin-bottom: 20px;
  }
  .thebrand {
    font-size: 44px;
  }
  .ofluxe {
    font-size: 24px;
  }
  .fashion {
    font-size: 24px;
  }
  .whatsnew {
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 19.4px;
  }
  .cat_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dropdown_menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dd-menu-detail__list {
    position: absolute;
    background: white;
    z-index: 2;
  }
  .cat.benefits .benefits__text {
    gap: 10px;
  }
  .cat_filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cat_top_filters {
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cart-input {
    width: 25vw;
  }
  .featured__table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
  }
  .featured__text {
    padding-bottom: 48px;
  }
  .benefits {
    padding-top: 48px;
    padding-bottom: 64px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 48px;
  }
  .benefits__img {
    display: none;
  }
  .prod-info-container {
    padding: 20px 20px;
  }
  .prod-info.center {
    padding-left: calc(50% - 367px);
    padding-right: calc(50% - 367px);
  }
  .feedback {
    padding-top: 64px;
    padding-bottom: 140px;
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-info {
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-info .categories {
    gap: 0;
  }
  .page-info .info-category {
    width: 33vw;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .center {
    padding-left: calc(50% - 45vw);
    padding-right: calc(50% - 45vw);
  }
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__left {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__left__details__summary {
    padding: 10px 3px;
  }
  .header__left__details__side_menu {
    top: 108px;
  }
  .header__left__details__side_menu::before {
    top: -30px;
    left: 40px;
  }
  .header__left__input {
    width: 18vw;
    height: 18px;
  }
  .header__left__button {
    padding: 9px;
  }
  .header__right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__right__details__cart {
    top: 122px;
  }
  .menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu-list:hover .mega-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .new_arrivals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hide {
    display: none;
  }
  .top__brandname {
    margin: 148px 56px;
  }
  .top__brandname__text {
    margin-bottom: 0;
  }
  .thebrand {
    font-size: 38px;
  }
  .ofluxe {
    font-size: 20px;
  }
  .fashion {
    font-size: 20px;
  }
  .whatsnew {
    padding-top: 64px;
    padding-bottom: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 32px;
  }
  .cat_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dropdown_menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dd-menu-detail__list {
    position: absolute;
    background: white;
    z-index: 2;
  }
  .cat.benefits .benefits__text {
    gap: 10px;
  }
  .cat_filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cat_top_filters {
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cat_products__text_price {
    text-align: center;
  }
  .cat_body_buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .cart-input {
    width: 280px;
  }
  .cart-table {
    overflow: scroll;
  }
  .prod-slider img {
    width: 100%;
  }
  .prod-info-bottom {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .addtocart_button.prod {
    width: 210px;
  }
  .prod-info.center {
    padding-left: calc(50% - 40vw);
    padding-right: calc(50% - 40vw);
  }
  .prod-info-container {
    padding: 20px;
  }
  .checkout-dd {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #email-input,
  #psw-input {
    width: 45vw;
  }
  .continue-button {
    width: 25vw;
    padding: 19px;
    text-align: center;
  }
  .auth-buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .featured__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
  }
  .featured__text {
    padding-bottom: 65px;
  }
  .featured__button {
    padding-top: 40px;
    padding-bottom: 85px;
  }
  .benefits {
    padding-top: 48px;
    padding-bottom: 81px;
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 48px;
  }
  .benefits__img {
    display: none;
  }
  .cat.benefits .benefits__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    gap: 10px;
  }
  .feedback {
    padding-top: 64px;
    padding-bottom: 110px;
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feedback_quote_text {
    font-size: 18px;
  }
  .feedback_subscribe_i_b {
    padding-top: 22px;
  }
  .feedback_subscribe_input {
    width: 200px;
    height: 47px;
  }
  .feedback_subscribe_button {
    width: 95px;
    height: 47px;
  }
  .page-info {
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-info .categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-info .info-category {
    width: auto;
  }
  .page-info .info-category__header {
    font-size: 12px;
  }
  .page-info .info-category a {
    font-size: 10px;
    line-height: 30px;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
    padding-top: 43px;
    padding-bottom: 9px;
  }
  .footer_right {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}/*# sourceMappingURL=style.css.map */