.cart_body {
  padding-top: 91px;
  padding-bottom: 79px;
}
.cart-row-item {
  display: grid;
  grid-template-columns: 5.5fr 2.5fr 1.5fr 2fr 1.5fr 1fr;
  gap: 20px;
  padding-top: 23px;
  padding-bottom: 23px;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
  & h2 {
    font-size: 13px;
    font-weight: 700;
    color: $black;
  }
  &__product {
    display: flex;
    gap: 21px;
    text-align: start;
    &:hover .cart-rating {
      opacity: 1;
      transition: all 0.2s ease;
    }
    &__info {
      padding-top: 10px;
      & a {
        text-decoration: none;
      }
      & h3 {
        font-size: 13px;
        font-weight: 400;
        color: $black;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
      & img {
        opacity: 0;
        margin-bottom: 10px;
      }
      & h4 {
        font-size: 13px;
        font-weight: 300;
        color: $catGrey;
      }
    }
  }
  &__price,
  &__quantity,
  &__shipping,
  &__subtotal,
  &__action {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.quant-input {
  padding: 7px 4px 7px 20px;
  border: 1px solid #eaeaea;
  width: 29px;
  height: 16px;
  font-size: 13px;
  color: $catGrey;
  border-radius: 0;
}
.cart-bold {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: $grey;
}
.cart-buttons {
  padding-top: 69px;
  padding-bottom: 63px;
  display: flex;
  justify-content: space-between;
}
.cart-button {
  text-decoration: none;
  padding: 17px;
  text-align: center;
  border: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: 700;
  color: $grey;
}
.cart-forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}
.cart-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  & .cart-button {
    padding: 8px 15px;
    width: 100px;
  }
  & h4 {
    font-size: 14px;
    font-weight: 300;
    color: $black;
  }
}
.cart-button.coup {
  width: 118px;
}
.form-header {
  font-size: 16px;
  font-weight: 700;
  color: $black;
}
.cart-input {
  width: 317px;
  height: 45px;
  border: 1px solid #eaeaea;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
  padding: 0px 18px;
}
.total-container {
  padding-bottom: 54px;
}
.cart-total {
  padding: 40px;
  background-color: #f5f3f3;
  text-align: end;
  text-wrap: nowrap;
  & h4 {
    font-size: 11px;
    font-weight: 400;
    color: $grey;
    padding-bottom: 10px;
  }
  & h3 {
    font-size: 16px;
    font-weight: 700;
    color: $black;
    padding-bottom: 18px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 16px;
  }
  & .pink {
    color: $pink;
  }
  & .total_proceed {
    display: block;
    width: 271px;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: $pink;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 1px solid $pink;
  }
}
